<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Logged in nav</title>
</head>
<body>
<!--not linked to anything right now, may need to add something (such as "Hi, *NAME*!") to show user they are logged in besides showing the dashboard link-->

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="logged-in-nav">
	<a class="navbar-brand" href="#">GardenSeedrLogo</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" href="#">Weather Icon Here</a>
			<a class="nav-item nav-link" href="#">Dashboard</a>
			<a class="nav-item nav-link" href="#">About Us</a>

		</div>
	</div>
</nav>

</body>
</html>