<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="fragments/invisibleElements :: head"></th:block>
	<title>Logged in nav</title>
</head>
<body>

<!--not linked to anything right now, may need to add something (such as "Hi, *NAME*!") to show user they are logged in besides showing the dashboard link-->

	<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="logged-in-nav">
		<a class="navbar-brand" href="#">GardenSeedrLogo</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a id="icon" class="nav-item nav-link active" href="#"></a>
				<div class="dropdown show">
					<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Dropdown link
					</a>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</div>
				<a class="nav-item nav-link" href="#">About Us</a>

			</div>
		</div>
	</nav>






<th:block th:insert="fragments/invisibleElements :: JavaScript"></th:block>
</body>
</html>