.garden-page{
    display: grid;
    background: #D2CDB2;
    height: 110%;
    width: 75%;
    grid-template-areas:
            'tlc gg'
            'blc gg';
}

.top-left-container{
    display: grid;
    grid-area: tlc;
    border: 2px solid #523C23;
}

.bot-left-container{
    display: grid;
    grid-area: blc;
    background: #523C23;
}

.garden-grid{
    padding: 8px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-area: gg;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 1fr;
}

.garden-square{
    height: 100px;
    width: 100px;
    /*border: #523C23 2px solid;*/
    background: #523C23 url("../images/asfalt-light.png");
}

.modal{

}

.active-purple input.form-control[type=text] {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
}