.garden-page{
    display: grid;
    height: 110%;
    width: 75%;
    grid-template-areas:
            'tlc gg'
            'blc gg';
}

.top-left-container{
    border-radius: 2px ;
    display: grid;
    grid-area: tlc;
    margin: 4px;
    box-shadow: 2px 2px 5px;

}

.bot-left-container{
    display: grid;
    grid-area: blc;
    border-radius: 2px ;
    width: 100px;
    box-shadow: 2px 2px 5px;
    margin: 4px;
}

.garden-grid{
    padding: 8px;
    width: 820px;
    height: 410px;
    display: grid;
    grid-area: gg;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 1fr;
    margin: 4px;
}

.garden-square{
    height: 100px;
    width: 100px;
    /*border: #523C23 2px solid;*/
    background: #523C23 url("../images/asfalt-light.png");

}

.modal{

}

.active-purple input.form-control[type=text] {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
}