.garden-page{
    background: #D2CDB2;
}

.top-left-container{
    border: 2px solid #523C23;
}

.bot-left-container{
    background: #523C23;
}

.garden-grid{
    background: #D2CDB2;
    border: black;
}

.modal{

}