.garden-page{
    display: grid;
    height: 110%;
    width: 100%;
    grid-template-areas:
            'tlc gg'
            'blc gg';
}

#filter-results {
    padding-top: 30px;
}

.selected-plant:hover {
    color: #394141;
    cursor: pointer;
}


.garden-grid{
    padding: 8px;
    width: 820px;
    height: 410px;
    display: grid;
    grid-area: gg;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 1fr;
    margin: 4px;
}

.garden-square{
    height: 100px;
    width: 100px;
    /*border: #523C23 2px solid;*/
    background: #523C23 url("../images/asfalt-light.png");

}

.modal-header{
    border-bottom: none;
}
.modal-footer {
    border-top: none;
}

.active-purple input.form-control[type=text] {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
}

.crop-name {
    padding-top: 20px;

}

#crop-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.bold-title {
    font-weight: bold;
}