/* For ALL pages */
body {
    background: white;
    width: 100%;
    height: 100%;
    margin: 0;
}

nav {
    background: #E0DECC;
    font-family: 'Playfair Display SC', serif;
}



.bigLogo { /* logo inside of nav */
    width: 300px;
}

.subheader{
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    text-shadow: 2px 2px 2px grey;

}

footer {
    background: rgba(44, 136, 32, 0.97);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn-success{
    /*background: rgba(44, 136, 32, 0.97);*/
    /*!*background: red;*!*/
    /*border: 1px solid rgba(44, 136, 32, 0.97);*/
}


/* For aboutUs */
.aboutUsContainer {
    display: flex;
    flex-direction: row;
}

/* For Dashboard */
#gardeningTipsDiv{
    font-weight: bold;
    color: black;

    width: 200px;
    border: rgba(44, 136, 32, 0.97) 1px solid;
}


/* For userSquarePage */
.container {
    box-sizing: border-box;
    max-height: 50%;
}

.col-md-12 { /* Title area */
    display: flex;
    justify-content: center;
}

.littlePlantSvg { /* In left 6*/
    height: 300px;
}

.notesDiv { /* Right 6 */
    max-height: 100%;
}

.noteForm { /* Top Right */
    max-height: 50%;
    width: 100%;
}

.noteTextarea {
    height: 40%;
    width: 100%;
}

.existingNotesDiv { /* Bottom Right */
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    overflow: scroll;
}

.col-md-6 { /* Left AND Right */
}

.btn-danger{
    align-items: center;
}

.button-field{
    align-content: center;
}

.noteForm{
    font-family: 'Playfair Display SC', serif;
}

.carousel-container{
    height: 85vh;
    overflow: hidden;

}

.carousel{
    overflow: hidden;
    width: 100%;
    height: inherit;
}

.carousel-inner {
    position: relative;
    text-align: center;
}

.centered {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    text-shadow: 2px 2px 10px black;
    color: #E0DECC;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.swiper-wrapper{
    position: relative;
    z-index: 4999;
}