body{
    background: #E0DECC;
}
#bannerDiv{
    background: #E0DECC url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
    .bigLogo{
        height: 75px;
    }

nav{
    background: #216418;
}
footer{
    background: #523C23 url("../images/asfalt-light.png");
    color: white;

    position:absolute;
    bottom:0;
    width:100%;
    display: flex;
    justify-content: center;
}


/* Stuff related to the userSquarePage */
.littlePlantSvg{
    height: 100px;
}