:root { /* Custom Seedr colors */
    --seedrGreen: rgba(44, 136, 32, 0.97);
    /*--seedrBone: #E0DECC;*/
    --seedrBone:#e8e6d9;
}
/* For ALL pages */
body {
    background: white;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a{
    color: black;
    text-decoration: underline;
}

a:hover{
    color: var(--seedrGreen);
}

nav {
    background: var(--seedrBone);
    font-family: 'Open Sans', sans-serif;
}

.bigLogo { /* logo inside of nav */
    width: 300px;
}

.subheader{
    padding-top: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}

footer {
    background: var(--seedrGreen);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navIcon{ /* The little icons in the nav */
    height: 30px;
    line-height: 30px;
}




.btn-success{
    /*background: rgba(44, 136, 32, 0.97);*/
    /*!*background: red;*!*/
    /*border: 1px solid rgba(44, 136, 32, 0.97);*/
}


/* For aboutUs */
.aboutUsContainer {
    display: flex;
    flex-direction: row;
}



/* For all pages containing .container */
.container {
    box-sizing: border-box;
    max-height: 20%;
    border-radius: 2px;
}

.register-container{
    display: grid;
    grid-template-columns: 45% 5% 40% 10% ;
    grid-template-areas: 'lR . rR .';

}

.left-register{
    display: grid;
    grid-area: lR;
    margin-top: 95px;
    height: 175px;
    width: 100%;
    align-content: center;
    background: rgba(255, 255, 255, 0.87);
    border-radius: 2px;
}

.right-register{
    display: grid;
    grid-area: rR;
    font-family: 'Open Sans', sans-serif;
    background: rgba(255, 255, 255, 0.92);
    padding: 30px 40px 10px 10px ;
    width: 400px;
    box-shadow: 2px 2px 10px black;
}


.col-md-12 { /* Title area */
    display: flex;
    justify-content: center;
}

.btn-danger{
    align-items: center;
}

.carousel-container{
    height: 85vh;
    overflow: hidden;

}

.carousel{
    overflow: hidden;
    width: 100%;
    height: inherit;
}

.carousel-inner {
    position: relative;
    text-align: center;
}

.centered {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 10px black;
    color: #E0DECC;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.swiper-wrapper{
    position: relative;
    z-index: 4999;
}

.info-label{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 4px;
}

.info-user{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    background: lightgoldenrodyellow;
}




