body{
    /*background: #2B8320;*/
    background: white;
}
#bannerDiv{
    background: #E0DECC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
    .bigLogo{
        height: 75px;
    }

nav{
    background: #216418;
}
footer{
    background-color: #523C23;
    background-image: url("../images/asfalt-light.png");

    /*color: white;*/

    position:absolute;
    bottom:0;
    width:100%;
    display: flex;
    justify-content: center;
}