/* For ALL pages */

:root {
    --seedrGreen: rgba(44, 136, 32, 1);
    --seedrBone: #e8e6d9;
}

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body {
    background: white;
    margin: 0;
    height: 100%;
}

a{
    color: black;
}
a:hover{
    color: var(--seedrGreen);
}

nav {
    background: var(--seedrBone);
    height: 7%;
}
    #logoAnchor{
        height: 100%;
        display: flex;
        align-items: center;
    }
    .bigLogo { /* logo inside of nav */
        height: 70%;
    }

    #navbarSupportedContent, .navbar-nav{
        height: 90%;
    }

    .navIcon{ /* The little icon in the nav */
        height: 100%;
        line-height: 100%;
    }

.quicksand {
    font-family: 'Quicksand', sans-serif;
}
.not-quicksand {
    font-family: 'Open Sans', sans-serif;
}

.subheader{
    padding-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer {
    background: var(--seedrGreen);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
}




/* For all pages containing .container */
.container {
    box-sizing: border-box;
    max-height: 20%;
    border-radius: 2px;
}

.col-md-12 { /* Title area */
    display: flex;
    justify-content: center;
}

.btn-danger{
    align-items: center;
}

.swiper-wrapper{
    position: relative;
    z-index: 4999;
}

.info-label{
    font-size: 20px;
    padding: 4px;
}

.info-user{
    font-size: 24px;
    background: lightgoldenrodyellow;
}

.bottom-buttons{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 4px;
}

