/* For ALL pages */
body{
    background: white;
    width: 100%;
    height: 100%;
    margin: 0;
}

nav{
    background: #E0DECC;
}
    .bigLogo{ /* logo inside of nav */
        width: 300px;
    }

footer{
    background: rgba(44, 136, 32, 0.97);
    color: white;
    position:absolute;
    bottom:0;
    width:100%;
    display: flex;
    justify-content: center;
}
.btn-success{
    /*background: rgba(44, 136, 32, 0.97);*/
    /*!*background: red;*!*/
    /*border: 1px solid rgba(44, 136, 32, 0.97);*/
}


/* For aboutUs */
.aboutUsContainer{
    display: flex;
    flex-direction: row;
}

/* For Dashboard */
#gardeningTipsDiv{
    font-weight: bold;
    color: black;

    width: 200px;
    border: rgba(44, 136, 32, 0.97) 1px solid;
}


/* For userSquarePage */
.container{
    box-sizing: border-box;
    border: black 1px solid;
    max-height: 50%;
}
    .col-md-12{  /* Title area */
        display: flex;
        justify-content: center;
    }
    .littlePlantSvg{ /* In left 6*/
        height: 300px;
    }
    .notesDiv{ /* Right 6 */
        max-height: 100%;
    }
        .noteForm{/* Top Right */
            max-height: 50%;
            width: 100%;
        }
            .noteTextarea{
                height: 40%;
                width: 100%;
            }
        .existingNotesDiv{ /* Bottom Right */
            display: flex;
            flex-direction: column;
            height: 50%;
            width: 100%;
            overflow: scroll;
        }
    .col-md-6{ /* Left AND Right */
        border: black 1px solid;
    }