.weatherdisplay {
    display: flex;
    justify-content: center;
}

.days {
    border: #523C23 1px solid;
    display: flex;
    flex-direction: column;
    background-color: #D2CDB2;
    opacity: 0.95;
}

p {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

span {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
}
