<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/invisibleElements :: head"></th:block>
    <title>About Us</title>
</head>
<body>
<th:block th:insert="fragments/invisibleElements :: topOfPage"></th:block>
<nav th:replace="fragments/visibleElements :: Nav"></nav>

<h1>About Us</h1>
<div class="container">
<!-- Andy Ball -->
<div class="card" style="width: 18rem;">
    <img src="images/AndyAboutUs.jpeg" class="card-img-top" alt="Andy Ball">
    <div class="card-body">
        <h5 class="card-title">Andy Ball</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Codeup Alumni Page</a>
    </div>
</div>
<!-- Jackie Muralles -->
<div class="card" style="width: 18rem;">
    <img src="images/JackieAboutUs.jpg" class="card-img-top" alt="Jackie Muralles">
    <div class="card-body">
        <h5 class="card-title">Jackie Muralles</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Codeup Alumni Page</a>
    </div>
</div>
<!-- Jasmine Rivera -->
<div class="card" style="width: 18rem;">
    <img src="images/JasmineAboutUs.jpg" class="card-img-top" alt="Jasmine Rivera">
    <div class="card-body">
        <h5 class="card-title">Jasmine Rivera</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Codeup Alumni Page</a>
    </div>
</div>
<!-- Kate McKinney -->
<div class="card" style="width: 18rem;">
    <img src="images/KateAboutUs.jpeg" class="card-img-top" alt="Kate McKinney">
    <div class="card-body">
        <h5 class="card-title">Kate McKinney</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Codeup Alumni Page</a>
    </div>
</div>
</div>


<!-- Footer -->
<footer th:replace="fragments/visibleElements :: footer"></footer>
<!-- JavaScript  -->
<th:block th:insert="fragments/invisibleElements :: JavaScript"></th:block>
</body>
</html>