<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/invisibleElements :: head"></th:block>
    <title>Edit Profile</title>
</head>
<body>
<th:block th:insert="fragments/invisibleElements :: topOfPage"></th:block>
<nav th:replace="fragments/visibleElements :: Nav"></nav>


<br><br><br>
<div class="container align-middle">
<h1 class="subheader">EDIT USER PAGE</h1>

<!--Edit form-->
<form class="subheader" th:action="@{'/edit/profile/' + ${user.getId()}}" th:method="post" th:object="${user}">
    <!-- Stuff they don't get to change: id, admin status -->
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{is_admin}">
    <input type="hidden" th:field="*{username}">
    <!-- Stuff they get to change: email, email_updates, first_name, last_name, password -->
    <h4 class="subheader">First Name: </h4>
        <input th:field="*{first_name}">
    <br>
    <h4 class="subheader">Last Name: </h4>
        <input th:field="*{last_name}">
    <br>
    <h4 class="subheader">Zipcode: </h4>
    <input th:field="*{zipcode}">
    <br>
    <h4 class="subheader">Email: </h4>
        <input type="email" th:field="*{email}">
    <br>
    <h4 class="subheader">Password: </h4>
        <input type="password" th:field="*{password}">
    <br>
    <br>
    <!--Submit button-->
    <input type="submit">
    <!-- Delete Button -->
    <button class="alert-danger" type="submit" th:formaction="@{'/delete/profile/' + ${user.getId()}}">Delete</button> <!-- ignore this error -->
    <br>
</form>
</div>



<!-- Footer -->
<footer th:replace="fragments/visibleElements :: footer"></footer>
<!-- JavaScript  -->
<th:block th:insert="fragments/invisibleElements :: JavaScript"></th:block>
</body>
</html>