<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/headAndFooter :: head"></th:block>
    <title>Login</title>
</head>
<body>

<h1 class="subheader">Log In</h1>
<div th:if="${param.error}" class="subheader">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}" class="subheader">
    You have been logged out.
</div>
<div class="container">
    <br>
    <form th:action="@{/login}" method="post">

        <label for="username">Username</label>
        <input id="username" name="username" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <input type="submit" value="Log In" />
    </form>
    <br>
</div>





<nav th:replace="fragments/headAndFooter :: footer_nav"></nav>
<nav th:replace="fragments/headAndFooter :: footer"></nav>

<!-- JavaScript  -->
<th:block th:insert="fragments/headAndFooter :: JavaScript"></th:block>
</body>

</html>