<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headAndFooter :: head">
    <title>Login</title>

</head>
<body>

<h1 class="subheader">Log In</h1>
<div th:if="${param.error}" class="subheader">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}" class="subheader">
    You have been logged out.
</div>
<div class="container">
    <br>
    <form th:action="@{/garden}" method="post">

        <label for="username">Username</label>
        <input id="username" name="username" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <input type="submit" value="Log In" />
    </form>
    <br>
</div>

<nav th:replace="fragments/headAndFooter :: footer_nav"></nav>

</body>

</html>