<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head">
    <title>Sign up</title>
</head>
<body>

<!--Header-->
<nav th:replace="partials/partials :: header"></nav>

<!--NavBar-->
<nav th:replace="partials/partials :: navbar"></nav>

<!--Registration form-->
<div class="container">

    <h1 class="subheader">Create an account</h1>
    <form th:action="@{/register}" method="POST" th:object="${user}">

        <!--  username, PW, email, zipcode, yes or no on emails  -->
        <label for="firstname">First Name</label>
        <input id="firstname" th:field="*{first_name}" />

        <label for="lastname">Last Name</label>
        <input id="lastname" th:field="*{last_name}" />

        <label for="username">Username</label>
        <input id="username" th:field="*{username}" />

        <label for="email">Email</label>
        <input id="email" th:field="*{email}" />

        <label for="zipcode">Zipcode</label>
        <input id="zipcode" type="text" th:field="*{zipcode}" />
        <br>
        <br>

        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}" />

        <!--Checkbox!!! Would you like to receive email updates?-->
        <input type="checkbox" id="emailUpdates" th:field="*{email_updates}">
        <label for="emailUpdates">Would You Like Email Updates?</label><br>

        <!--Submit button-->
        <input type="text">
        <input value="Sign me up!" type="submit" />

        <br>
        <br>
    </form>
</div>

<!--Footer-->
<nav th:replace="partials/partials :: footer"></nav>

</body>
</html>

