<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/headAndFooter :: head"></th:block>
    <title>Register</title>
</head>
<body>

<!--Header-->
<!--<nav th:replace="fragments/headAndFooter :: header"></nav>-->

<!--NavBar-->
<!--<nav th:replace="fragments/headAndFooter :: navbar"></nav>-->

<!--Registration form-->
<div class="container">

    <h1 class="subheader">Create an account</h1>
    <form th:action="@{/register}" method="POST" th:object="${user}">

        <!--  username, PW, email, zipcode, yes or no on emails  -->
        <label for="firstname">First Name</label>
        <input id="firstname" th:field="*{first_name}" />
        <br>
        <label for="lastname">Last Name</label>
        <input id="lastname" th:field="*{last_name}" />
        <br>
        <label for="username">Username</label>
        <input id="username" th:field="*{username}" />
        <br>
        <label for="email">Email</label>
        <input id="email" th:field="*{email}" />
        <br>
        <label for="zipcode">Zipcode</label>
        <input id="zipcode" type="text" th:field="*{zipcode}" />
        <br>
        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}" />
        <br>
        <!--Checkbox!!! Would you like to receive email updates?-->
        <input type="checkbox" id="emailUpdates" th:field="*{email_updates}">
        <label for="emailUpdates">Would You Like Email Updates?</label><br>
        <br>
        <!--Submit button-->
        <input value="Sign me up!" type="submit" />
        <br>
    </form>
</div>

<!--Footer-->
<nav th:replace="fragments/headAndFooter :: footer_nav"></nav>
<!-- JavaScript  -->
<th:block th:insert="fragments/headAndFooter :: JavaScript"></th:block>
</body>
</html>

