<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/invisibleElements :: head"></th:block>
    <title>DYNAMIC TITLE</title>
</head>
<body>
<th:block th:insert="fragments/invisibleElements :: topOfPage"></th:block>
<!-- Banner -->
<div th:replace="fragments/visibleElements :: Banner"></div>
<!-- Navbar -->
<nav th:replace="fragments/visibleElements :: Nav"></nav>


SQUARE INFO PAGE
<!-- Elements this page gets passed:
        - user,
        - garden,
        - allTheNotes,
        - newNote
-->

<div th:text=""></div>




<!-- Footer -->
<footer th:replace="fragments/visibleElements :: footer"></footer>
<!-- JavaScript  -->
<th:block th:insert="fragments/invisibleElements :: JavaScript"></th:block>
</body>
</html>