<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/headAndFooter :: head">
    <title>Sign up</title>
</head>
<body>

<div class="container">

<!-- Kate edits -->
    <h1 class="subheader">KATE USER GARDEN</h1>





<!-- End of Kate edits -->
    <!-- User garden grid -->
    <div class="garden-page">
        <div class="top-left-container">
            Top Left Container
            <form th:action="@{'/garden/' + ${gardenId}}" method="post" th:object="${newSquare}"></form>
        </div>
        <!--        Contains all other gardens-->
        <div class="bot-left-container">Bottom Left Container</div>
        <!--        This is the Grid to contain the entire garden-->



        <!--            Each garden square when clicked will have a dropdown of all avail veg and an active searchbar-->
        <!--        th:field="*{square_num}"-->
        <div class="garden-grid">
            <div th:each="i : ${#numbers.sequence(1, 32, 1)}" th:id="'square' + ${i}" class="garden-square" th:value="${i}" >
                <span th:each="square : ${allTheSquares}" th:if="${i} == ${square.getSquare_num()}" th:text="${square.getPlant().getId()}">
                    <span th:unless="${i} == ${square.getSquare_num()}"></span>
                </span>
            </div>
        </div>
        <!--            <br>-->
        <!--            <button value="Save Garden" type="submit"></button>-->
        <!--            This is the modal that will contain info on each individual square. -->
        <!--pop up info tags for each square that has a plant with water, sun, soil, etc info-->

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Edit button (doesn't lead to another page)-->
<!--Delete button-->

<nav th:replace="fragments/headAndFooter :: footer_nav"></nav>

</body>
</html>