<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/invisibleElements :: head"></th:block>
    <title>Profile</title>
</head>
<body>
<!--Useless comment-->
<th:block th:insert="fragments/invisibleElements :: topOfPage"></th:block>
<nav th:replace="fragments/visibleElements :: Nav"></nav>
<div class="container">
    <h1>Your Profile Details: <span th:text="${user.getFirst_name()}"></span></h1>
    <!-- Display user's info -->
    <div>
        <div>Name: <span th:text="${user.getFirst_name() + ' ' + user.getLast_name()}"></span></div>
        <div>Username: <span th:text="${user.getUsername()}"></span></div>
        <div>Email: <span th:text="${user.getEmail()}"></span></div>
        <div>Zipcode: <span th:text="${user.getZipcode()}"></span></div>
        <div>Admin Status:
            <span th:if="${user.isIs_admin()} == true" th:text="Admin"></span>
            <span th:unless="${user.isIs_admin()} == true" th:text="'Not an Admin'"></span>
        </div>
    </div>
    <!-- Edit button which sends user to the page for actually editing -->
    <a th:href="'/edit/profile/' + ${user.getId()}" class="btn btn-warning">Edit Profile</a>
</div>

<!-- Footer -->
<footer th:replace="fragments/visibleElements :: footer"></footer>
<!-- JavaScript  -->
<th:block th:insert="fragments/invisibleElements :: JavaScript"></th:block>
</body>
</html>