<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<th:block th:insert="fragments/invisibleElements :: head"></th:block>
<title>Sign up</title>
</head>
<body>
<th:block th:insert="fragments/invisibleElements :: topOfPage"></th:block>
<div th:replace="fragments/visibleElements :: Banner"></div>
<nav th:replace="fragments/visibleElements :: Nav"></nav>


<div class="container">
    <!-- Kate edits -->

    <h1 class="subheader" th:if="${garden.getGarden_name()} != null" th:text="${garden.getGarden_name()}"></h1>

    <form th:unless="${garden.getGarden_name()} != null" th:action="@{'/garden/' + ${garden.getId()}}" th:method="post"
          th:object="${garden}">
        <h1>Give your garden a name:
            <input th:field="*{garden_name}">
            <!-- This stuff has to be restated as what it already is or they'll reset to null/0-->
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{user}">
            <input type="hidden" th:field="*{created}">

            <input type="submit">
        </h1>
    </form>
    <!-- Delete button -->
    <form class="alert" th:action="@{'/garden/delete/'+ ${garden.getId()}}" th:method="delete" th:object="${garden}">
        <!-- since garden_name is not restated it resets to null, necessary for controller to sort out which form it's getting -->
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{user}">
        <input type="hidden" th:field="*{created}">
        <input type="hidden" th:field="*{updated}">
        <input type="submit" name="delete" value="delete">
    </form>

    <!-- End of Kate edits -->
    <!-- User garden grid -->
    <div class="garden-page">
        <div class="label top-left-container">
            Top Left Container
            <!--            <form th:action="@{'/garden/' + ${gardenId}}" method="post" th:object="${newSquare}"></form>-->

        </div>
        <!--        Contains all other gardens-->
        <div class="bot-left-container">Bottom Left Container</div>
        <!--        This is the Grid to contain the entire garden-->
        <div class="garden-grid">

            <!--        Andy MODAL attempt-->
            <!--            Each garden square when clicked will have a modal of all avail veg and an active searchbar-->

            <button id="button" type="button" data-toggle="modal" data-target="#gardenModal"
                    class="btn btn-primary garden-square"
                    th:each="i : ${#numbers.sequence(1, 32, 1)}"
                    th:id="${i}"
                    th:value="${i}">
                <span th:plant-name="${square.getPlant().getPlant_name()}"
                      th:plant-body="${square.getPlant().getAPI_id()}"
                      th:each="square : ${allTheSquares}"
                      th:if="${i} == ${square.getSquare_num()}"
                      th:text="${square.getPlant().getId()}">
                    <span th:unless="${i} == ${square.getSquare_num()}"></span>
                </span>
            </button>

            <!--            This is the modal that will contain info on each individual square. -->
            <!--pop up info tags for each square that has a plant with water, sun, soil, etc info-->
            <div class="modal fade squareId" id="gardenModal" tabindex="-1" role="dialog" aria-labelledby="modal-title">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-title">TITLE</h5>

                        </div>
                        <div class="plantSearch">
                            <!--                            <form th:action="@{'/garden/' + ${garden.getId()}}" method="get" class="form-inline d-flex justify-content-center md-form form-sm active-cyan active-cyan-2 mt-2">-->
                            <input id="txtSearch" name="keyword" class="form-control form-control-sm ml-3 w-75"
                                   type="text" placeholder="Search" aria-label="Search">
                            <!--                            </form>-->
                            <span class="change" id="plantTable" th:each="plant : ${allThePlants}"><br></span>
                        </div>

                        <div class="modal-body" id="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button value="Save Garden" type="submit"/>


    </div>
</div>

<!-- Footer -->
<footer th:replace="fragments/visibleElements :: footer"></footer>

<script th:inline="javascript">

    /*<![CDATA[*/
    var plant = /*[[${allThePlants}]]*/ 'plant';
    /*]]>*/

    $('#txtSearch').on('keyup', function () {
        $('#txtSearch').css('background', 'green');
        var value = $(this).val();
        var filteredData = filterFunction(value, plant);

        rebuildTable(filteredData);
    });

    function filterFunction(value, data) {
        var filteredData = [];
        for (var i = 0; i < data.length; i++) {
            var plant = data[i].toLowerCase();
            if (plant.includes(value)) {
                filteredData.push(data[i])
            }
        }
        return filteredData;
    }

    function rebuildTable(data) {
        console.log(data);
        var table = document.getElementById('plantTable');
        var html = '<div class="modal-body">';
        data.forEach(function (plantName) {
            html +=
                '<span>' +
                plantName +
                '</span>';
        });
        table.innerHTML = html;
    }
</script>

<!-- JavaScript  -->
<th:block th:insert="fragments/invisibleElements :: JavaScript"></th:block>

</body>
</html>