<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/invisibleElements :: head"></th:block>
    <title>Profile</title>
</head>
<body>
<!--Useless comment-->
<th:block th:insert="fragments/invisibleElements :: topOfPage"></th:block>
<nav th:replace="fragments/visibleElements :: Nav"></nav>
<div class="container col-8">
    <h1 class="subheader">Your Profile Details: <span th:text="${user.getFirst_name()}"></span></h1>
    <!-- Display user's info -->
    <div class="">
        <div class="info-label">Name: <br><span class="info-user" th:text="${user.getFirst_name() + ' ' + user.getLast_name()}"></span></div>
        <div class="info-label">Username: <br><span class="info-user" th:text="${user.getUsername()}"></span></div>
        <div class="info-label">Email: <br><span class="info-user" th:text="${user.getEmail()}"></span></div>
        <div class="info-label">Zipcode: <br><span class="info-user" th:text="${user.getZipcode()}"></span></div>
        <div class="info-label">Admin Status: <br>
            <span th:if="${user.isIs_admin()} == true" th:text="Admin"></span>
            <span th:unless="${user.isIs_admin()} == true" th:text="'Not an Admin'"></span>
        </div>
    </div>
    <!-- Edit button which sends user to the page for actually editing -->
    <a th:href="'/edit/profile/' + ${user.getId()}" class="btn btn-warning">Edit Profile</a>
</div>

<!-- Footer -->
<footer th:replace="fragments/visibleElements :: footer"></footer>
<!-- JavaScript  -->
<th:block th:insert="fragments/invisibleElements :: JavaScript"></th:block>
</body>
</html>